body {
  display: block;
  font-family: Arial, sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  background-color:white;
}

.page {
width: 100% !important; 
}

.header {
  width: 100%;
  background-color: black;
  color: black;
  padding: 20px;
  text-align:center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header nav ul li {
  display: inline;
  margin: 0 1rem;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header nav ul li a:hover {
  color: #ffcc00;
}

.main {
  padding: 2rem;
}

.section {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer {
  position: absolute;
  bottom: 0;
  width: -webkit-fill-available;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

